In [2]:
a = 3
b = 5

In [3]:
a < b   # a가 b보다 작다

True

In [4]:
a > b   # a가 b보다 크다

False

In [5]:
a == b   # a가 b와 같다

False

In [6]:
a != b   # a와 b가 같지 않다

True

In [7]:
a <= b   # a가 b보다 작거나 같다

True

In [8]:
a >= b   # a가 b보다 크거나 같다

False

In [9]:
money = False   # True면 실행
if money:
    print('택시 거거')

택시 거거

In [11]:
money = 5000
if money >= 4000:
    print("자산이 " + str(money) + "원 있습니다.")

자산이 5000원 있습니다.

In [13]:
money = 3000
if money >= 4000:
    print("자산이 " + str(money) + "원 있습니다.")

In [14]:
money = 5000
if money >= 4000:
    print('자산이')
    print(money)
    print('원 있습니다.')
print('감사합니다.')

자산이
5000
원 있습니다.
감사합니다.

In [15]:
money = 3000
if money >= 4000:
    print('자산이')
    print(money)
    print('원 있습니다.')
print('감사합니다.')

감사합니다.

In [16]:
money = 3000
if money >= 4000:
    print('자산이')
     print(money)
    print('원 있습니다.')
print('감사합니다.')

IndentationError: unexpected indent (4032815523.py, line 4)

In [17]:
money = 500
if money >= 500:
    print("자산이 500원 이상 있습니다.")
else:
    print("자산이 500원도 없습니다.")
print("end")

자산이 500원 이상 있습니다.
end

In [20]:
# if - elif - else
# if와 else 사이에 여러번 사용할 수 있다. 
# 조건이 여러개일 때 사용 가능
money = 4000
if money >= 10000:
    print("나에겐 10000원 이상이 있다.")
elif money >= 9000:
    print("나에겐 9000원 이상이 있다.")
elif money >= 5000:
    print("나에겐 5000원 이상이 있다.")
else :
    print("집에갈 차비예요.")

집에갈 차비예요.

In [21]:
money = 9500
if money >= 10000:
    print("나에겐 10000원 이상이 있다.")
elif money >= 9000:
    print("나에겐 9000원 이상이 있다.")
elif money >= 5000:
    print("나에겐 5000원 이상이 있다.")
else :
    print("집에갈 차비예요.")

나에겐 9000원 이상이 있다.

In [22]:
money = 5100
if money >= 10000:
    print("나에겐 10000원 이상이 있다.")
elif money >= 9000:
    print("나에겐 9000원 이상이 있다.")
elif money >= 5000:
    print("나에겐 5000원 이상이 있다.")
else :
    print("집에갈 차비예요.")

나에겐 5000원 이상이 있다.

In [23]:
# if - elif - else
# 조건이 여러개 일 경우 순서가 중요하다.
money = 15000
if money >= 5000:
    print("나에겐 5000원 이상이 있다.")
elif money >= 9000:
    print("나에겐 9000원 이상이 있다.")
elif money >= 10000:
    print("나에겐 10000원 이상이 있다.")
else :
    print("집에갈 차비예요.")

나에겐 5000원 이상이 있다.

In [25]:
money = 15000
if money >= 10000:
    print("나에겐 10000원 이상이 있다.")
if money >= 9000:
    print("나에겐 9000원 이상이 있다.")
if money >= 5000:
    print("나에겐 5000원 이상이 있다.")

나에겐 10000원 이상이 있다.
나에겐 9000원 이상이 있다.
나에겐 5000원 이상이 있다.

In [28]:
money = 3000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [29]:
money = 2000
card = False
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [31]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [32]:
money = 2000
card = False
if money >= 3000 and card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [33]:
money = 3000
card = False
if money >= 3000 and card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [34]:
money = 3000
card = True 
if money >= 3000 and card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [35]:
print('1 in [1, 2, 3]->', 1 in [1, 2, 3])

1 in [1, 2, 3]-> True

In [36]:
print('1 not in [1, 2, 3]->', 1 not in [1, 2, 3])

1 not in [1, 2, 3]-> False

In [37]:
'a' in ('a', 'b', 'c')

True

In [38]:
'j' not in 'python'

True

In [39]:
score = 60 
if score >= 60:
    message = 'success'
else:
    message = 'fail'
    
print(message)

success

In [40]:
score = 60 
message = 'success' if score >= 60 else "fail"
print(message)

success

In [42]:
treeHit = 0
while treeHit < 5:
    treeHit = treeHit + 1
    print(f"나무를 {treeHit}번 찍었습니다.")
    if treeHit == 5:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무 넘어갑니다.

In [45]:
coffee = 10
while True:
    coffee = coffee - 1
    print("남은 커피의 양은", coffee, "개 입니다")
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

남은 커피의 양은 9 개 입니다
남은 커피의 양은 8 개 입니다
남은 커피의 양은 7 개 입니다
남은 커피의 양은 6 개 입니다
남은 커피의 양은 5 개 입니다
남은 커피의 양은 4 개 입니다
남은 커피의 양은 3 개 입니다
남은 커피의 양은 2 개 입니다
남은 커피의 양은 1 개 입니다
남은 커피의 양은 0 개 입니다
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [47]:
a = int(input("돈을 넣어주세요 : "))
a

돈을 넣어주세요 : 400

400

In [48]:
coffee = 5
while True:
    money = int(input("돈을 넣어주세요 : "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈", (money - 300), "를 주고 커피를 줍니다.")
        coffee = coffee - 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은", coffee, "개 입니다.")
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 넣어주세요 : 500
거스름돈 200 를 주고 커피를 줍니다.
돈을 넣어주세요 : 600
거스름돈 300 를 주고 커피를 줍니다.
돈을 넣어주세요 : 300
커피를 줍니다.
돈을 넣어주세요 : 0
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 2 개 입니다.
돈을 넣어주세요 : 700
거스름돈 400 를 주고 커피를 줍니다.
돈을 넣어주세요 : 500
거스름돈 200 를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [49]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

In [51]:
test_list = ['자장면', '삼겹살', '광어회', '갈비']
cnt = 0
for i in test_list:
    cnt += 1
    print(i, "먹고 싶네요")
    print(f'{cnt}번 반복중 입니다.\n')
print('반복문 끝났습니다.')

자장면 먹고 싶네요
1번 반복중 입니다.

삼겹살 먹고 싶네요
2번 반복중 입니다.

광어회 먹고 싶네요
3번 반복중 입니다.

갈비 먹고 싶네요
4번 반복중 입니다.

반복문 끝났습니다.

In [52]:
test_tup = ('자장면', '삼겹살', '광어회', '갈비')
cnt = 0
for i in test_tup:
    cnt += 1
    print(i, "먹고 싶네요")
    print(f'{cnt}번 반복중 입니다.\n')
print('반복문 끝났습니다.')

자장면 먹고 싶네요
1번 반복중 입니다.

삼겹살 먹고 싶네요
2번 반복중 입니다.

광어회 먹고 싶네요
3번 반복중 입니다.

갈비 먹고 싶네요
4번 반복중 입니다.

반복문 끝났습니다.

In [54]:
test = 'python'
for i in test:
    print(i)

p
y
t
h
o
n

In [55]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [56]:
marks = [90, 25, 67, 45, 80]

In [60]:
n = 0
for i in marks: 
    n = n + 1
    if i >= 60 :
        print(n,"번째 학생은 ", i,"점으로 합격입니다.")
    else :
        print(n,"번째 학생은 ", i, "점으로 불합격입니다.")

1 번째 학생은  90 점으로 합격입니다.
2 번째 학생은  25 점으로 불합격입니다.
3 번째 학생은  67 점으로 합격입니다.
4 번째 학생은  45 점으로 불합격입니다.
5 번째 학생은  80 점으로 합격입니다.

In [65]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        print('%d번 학생 불합격입니다. ' % number)
        continue
    print('%d 학생 축하합니다. 합격입니다. ' % number)

1 학생 축하합니다. 합격입니다.
2번 학생 불합격입니다.
3 학생 축하합니다. 합격입니다.
4번 학생 불합격입니다.
5 학생 축하합니다. 합격입니다.

In [66]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sum_ = 0
for i in lst:
    sum_ = sum_ + i
print(sum_)

45

In [67]:
# range(시작값(0일 경우 생략가능), 끝값 -1, 간격(1일 경우 생략 가능))
range(10)   # range(0,10,1)

range(0, 10)

In [68]:
list(range(10))
# range(시작값(0일 경우 생략가능), 끝값 -1, 간격(1일 경우 생략 가능))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list(range(2, 13, 2))

[2, 4, 6, 8, 10, 12]

In [70]:
list(range(10, 0 , -1))   # 10부터 0전까지 1씩 감소

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [71]:
sum_ = 0
for i in range(10):
    sum_ = sum_ + i
print(sum_)

45

In [72]:
range(40,47)

range(40, 47)

In [73]:
for i in range(2, 10):   #1번 for문
    for j in range(1, 10):   #2번 for문
        print(f'{i}x{j} = {i*j}', end = " ")
    print('')

2x1 = 2 2x2 = 4 2x3 = 6 2x4 = 8 2x5 = 10 2x6 = 12 2x7 = 14 2x8 = 16 2x9 = 18
3x1 = 3 3x2 = 6 3x3 = 9 3x4 = 12 3x5 = 15 3x6 = 18 3x7 = 21 3x8 = 24 3x9 = 27
4x1 = 4 4x2 = 8 4x3 = 12 4x4 = 16 4x5 = 20 4x6 = 24 4x7 = 28 4x8 = 32 4x9 = 36
5x1 = 5 5x2 = 10 5x3 = 15 5x4 = 20 5x5 = 25 5x6 = 30 5x7 = 35 5x8 = 40 5x9 = 45
6x1 = 6 6x2 = 12 6x3 = 18 6x4 = 24 6x5 = 30 6x6 = 36 6x7 = 42 6x8 = 48 6x9 = 54
7x1 = 7 7x2 = 14 7x3 = 21 7x4 = 28 7x5 = 35 7x6 = 42 7x7 = 49 7x8 = 56 7x9 = 63
8x1 = 8 8x2 = 16 8x3 = 24 8x4 = 32 8x5 = 40 8x6 = 48 8x7 = 56 8x8 = 64 8x9 = 72
9x1 = 9 9x2 = 18 9x3 = 27 9x4 = 36 9x5 = 45 9x6 = 54 9x7 = 63 9x8 = 72 9x9 = 81