In [3]:
def addto(a, b):
    return a + b

In [4]:
addto(3, 4)

7

In [12]:
def MUL(a, b):
    m = a * b
    return m

In [13]:
MUL(3, 6)

18

In [14]:
m = MUL(3, 6)
m

18

In [15]:
def add(a, b):   # a, b는 매개변수
    c = a + b
    return c

print(add(3, 4))   # 3, 4는 인수

7

In [16]:
def say():
    return "Ho!"

In [17]:
say()

'Ho!'

In [19]:
a = say()
a

'Ho!'

In [20]:
def add(a, b):
    print(a, b, "의 합은", a + b, "입니다.")
    c = a + b
    return c

In [21]:
test = add(4,7)

4 7 의 합은 11 입니다.

In [22]:
test

11

In [23]:
def say():
    print("ho!")

In [24]:
a = say()

ho!

In [25]:
a

In [26]:
def add(a, b):
    return a + b

In [27]:
add(a = 4, b = 5)

9

In [28]:
def ma(a, b):
    return a -b

In [29]:
ma(a = 5, b = 7)

-2

In [30]:
ma(b = 7, a = 5)

-2

In [34]:
def add_many(*args):
    print(args)
    result = 0
    for i in args:
        result = result + i
    return result

In [35]:
add_many(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

21

In [36]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

In [38]:
add_mul('add', 1, 2, 3, 3, 4, 4, 5, 6, 67, 7, 8, 8)

118

In [39]:
def add_and_mul(a, b):
    return a + b, a * b

In [40]:
add_and_mul(2, 6)   # 하나의 튜플로 변환

(8, 12)

In [41]:
result = add_and_mul(3,4)
result

(7, 12)

In [43]:
result1, result2 = add_and_mul(3, 4)
print(result1)
print(result2)

7
12

In [44]:
result1 = result[0]
result2 = result[1]
print(result1)
print(result2)

7
12

In [45]:
def add_and_mul(a, b):
    return a + b
    return a * b

In [46]:
add_and_mul(5, 2)
# add_and_mul(2, 3)의 결과값은 5 하나뿐이다.
# 두번째 return문인 return a*b는 실행되지 않았다.

7

In [47]:
def say_nick(nick):
    if nick == '바보':
        return
    print('나의 별명은 ' + nick + '입니다.')

In [48]:
say_nick('멍청이')

나의 별명은 멍청이입니다.

In [49]:
say_nick('바보')

In [50]:
def say_myself(name, old, man=True):
    print('나의 이름은 ', name, '입니다.')
    print('나이는 ', old, "살입니다.")
    if man:
        print("남자입니다.")
    else:
        print('여자입니다.')

In [51]:
say_myself('파이썬', 30)

나의 이름은  파이썬 입니다.
나이는  30 살입니다.
남자입니다.

In [52]:
say_myself('박응선', 27, False)

나의 이름은  박응선 입니다.
나이는  27 살입니다.
여자입니다.

In [53]:
say_myself(old = 30, name = '파이썬', man=True)

나의 이름은  파이썬 입니다.
나이는  30 살입니다.
남자입니다.

In [54]:
say_myself(old = 30, name = '파이썬')

나의 이름은  파이썬 입니다.
나이는  30 살입니다.
남자입니다.

In [55]:
def say_myself(name, man=True, old):
    print('나의 이름은 ', name, '입니다.')
    print('나이는 ', old, "살입니다.")
    if man:
        print("남자입니다.")
    else:
        print('여자입니다.')

SyntaxError: non-default argument follows default argument (4025319675.py, line 1)

In [56]:
a = 1
def vartest(a):
    a = a + 1
    return a

In [57]:
vartest(a)

2

In [59]:
a   # 일반적으로 함수 내에서 사용된 변수는 함수 밖에서 사용되지 않음

1

In [60]:
def vartest(val):
    val = val + 1
    return val

vartest(3)
# 함수 안에서 사용한 변수의 값은 함수가 종료되면 사라진다.

4

In [61]:
print(val)

NameError: name 'val' is not defined

In [62]:
# 함수를 만들 때 def 명령을 사용하고
# 함수 안에서 사용한 변수는 함수 밖에서 사용할 수 없고
# 'return'명령은 함수를 종료
# 'return x'명령은 함수를 종료하고 함수를 호출한 곳에 x를 반환한다.

In [63]:
#global 명령어 사용하기 
a = 1
print(a)

1

In [64]:
def vartest():
    global a
    a = a + 1

In [65]:
vartest()
print(a)

2

In [66]:
# lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
add = lambda x,y: x + y

In [67]:
add(2,3)

5

In [68]:
def add2(x,y):
    return x + y

In [69]:
add2(2, 3)

5